*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --default-border: 0.1rem solid rgb(0, 0, 0, 0.15);
    --default-boerder-radius:1.2rem;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

.content{
    display: grid;
    grid-template-areas:
        ". . ." 
        "hero . form "
        " hero . form "
        ". . ."
    ;

    gap: 8.5rem;
}

main{
    grid-area: form;
}

aside{
    grid-area: hero;
    margin-left: 5.0rem;
    margin-bottom: 4.5rem;
}



aside h1{
font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 75px;
    letter-spacing: 0em;
    margin-top: 5.0rem;
    text-align: center;
}

aside h1 span, main h2 span{
    color:  #0a50a5;

}

main{
    width: 60rem;
    height: 52rem;
    border: 0.1rem solid rgb(0, 0, 0, 0.15);
    padding: 4.4rem 5.7rem;
}

main h2{
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
    margin-left: 5.0rem;
}

main .actions a{
    display: flex;
    justify-content: center;
    align-items: center;
  background-color: #35E6E9;
  color:  #FFFFFF;
  ;
  height: 55px;
    width: 489px;
    left: 543px;
    top: 267px;
    border-radius: var(--default-boerder-radius);
    margin-top: 4.8rem;
  }



main .actions a + a {
    background-color: 
    #FF5678
    ;
    margin-top: 4.8rem;
}

main .actions{
    display: flex;
    flex-flow: column wrap;
}

main p{
    font-size: 1.6rem;
    margin-top: 8rem;
}

main footer{
    margin-top: 1rem;
    font-size: 1.8rem;
    display: block;
    text-align: center;
}

a{
   color:  blue;
   text-align: center;
}

main form input, main form select{
    height: 5.5rem;
width: 489px;
background-color: #FFFFFF;
border-radius: var(--default-boerder-radius);
margin-bottom: 1.0rem;
border: var(--default-border);
}

main form label{
font-size: 1.8rem;
font-weight: 400;
line-height: 2.1rem;
letter-spacing: 0em;
text-align: left;
text-transform: lowercase;
margin-bottom: 1rem;
display: block;
}

main header{
    display: flex;
    justify-content: center;
    align-items: center;
}

form button{
    cursor: pointer;
    border: none;
}